<settings>
	<activeProfiles>
		<activeProfile>external-repositories</activeProfile>
	</activeProfiles>
	<profiles>
		<profile>
			<id>external-repositories</id>
			<repositories>
				<repository>
					<id>ql-p2</id>
					<layout>p2</layout>
					<url>https://kthoms.ci.cloudbees.com/job/lwc13-dsl/lastSuccessfulBuild/artifact/projects/org.eclipse.xtext.example.ql.repository/target/repository/
					</url>
				</repository>
				<repository>
					<id>Eclipse Juno</id>
					<layout>p2</layout>
					<url>http://download.eclipse.org/releases/juno</url>
				</repository>
				<repository>
					<id>Eclipse Orbit</id>
					<layout>p2</layout>
					<url>http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/
					</url>
				</repository>
				<repository>
					<id>Eclipse Xtext</id>
					<layout>p2</layout>
					<url>http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/
					</url>
				</repository>
				<repository>
					<id>Eclipse Objectteams</id>
					<layout>p2</layout>
					<url>http://download.eclipse.org/objectteams/updates/ot2.1
					</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>fornax.releases</id>
					<name>Fornax Release Repository</name>
					<url>http://www.fornax-platform.org/nexus/content/repositories/releases/
					</url>
				</pluginRepository>
				<pluginRepository>
					<id>xtend</id>
					<url>http://build.eclipse.org/common/xtend/maven/</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
</settings>

