<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/xtext/example/qls/QlsDsl" 
       class = "org.eclipse.xtext.example.qls.qlsDsl.QlsDslPackage"
       genModel = "org/eclipse/xtext/example/qls/QlsDsl.genmodel" /> 
	
  </extension>




</plugin>
